<footer class="holder content">
    <section class="wrap">
        <div>
            <img src="img/logo-footer.png">

            <div class="column-one">
                <h2>{{ siteName }}</h2>

                <p class="address">
                    <i class="fa-solid fa-car-side"></i>

                    <span>{{ address }}, </span>

                    <span class="new-line">{{ district }}, {{ city }}, CEP {{ cep }}</span>
                </p>

                <p class="phone">
                    <i class="fa-solid fa-phone-volume"></i>

                    <span>{{ phone }}</span>
                </p>

                <p class="email">
                    <i class="fa-solid fa-envelope"></i>

                    <span>{{ email }}</span>
                </p>
            </div>

            <div class="column-two">
                {{#each footerLinksOne}}
                    <a href="{{ this.url }}">{{ this.label }}</a>
                {{/each}}
            </div>

            <div class="column-three">
                {{#each footerLinksTwo}}
                    <a href="{{ this.url }}">{{ this.label }}</a>
                {{/each}}
            </div>
        </div>
    </section>
</footer>

<footer class="holder bottom">
    <section class="wrap box-double">
        <div class="social">
            <span>Siga-nos</span>

            {{#each socialLinks}}
                <a href="{{ this.url }}" target="_blank">
                    <i class="fa-brands {{ this.icon }} fa-xl"></i>
                    <span>{{ this.label }}</span>
                </a>
            {{/each}}
        </div>

        <div class="copy">
            Copyright &copy; 
            {{ currentYear }}
            {{ siteName }}
            <span>Todos os direitos reservados.</span>
        </div>
    </section>
</footer>