<title>{{ home.title }}</title>
<link rel="shortcut icon" href="{{ favicon }}">

<meta name="description" content="{{ description }}">
<meta name="keywords" content="{{ keywords }}">

<meta itemprop="name" content="{{ title }}">
<meta itemprop="description" content="{{ description }}">
<meta itemprop="image" content="{{ thumbnail }}">