<nav class="navigation-bar">
    <ul>
        {{#each headerLinks}}
            <li>
                <a href="{{ this.url }}">
                    <i class="fa-solid {{ this.icon }} fa-xl"></i>
                    <span>{{ this.label }}</span>
                </a>
            </li>
        {{/each}}
    </ul>

    <ul>
        {{#each socialLinks}}
            <li>
                <a href="{{ this.url }}" target="_blank">
                    <i class="fa-brands {{ this.icon }} fa-xl"></i>
                    <span>{{ this.label }}</span>
                </a>
            </li>
        {{/each}}

        <li class="mobile-button">
            <a href="javascript:void()">
                <i class="fa-solid fa-bars fa-xl"></i>
                <span>Mobile Button</span>
            </a>
        </li>
    </ul>
</nav>