<div class="holder">
    <article class="wrap">

        <h2>Faça-nos uma visita</h2>

        <address>
            <p>
                {{ address }}
                
                <br>
                
                {{ district }}, {{ city }}, {{ cep }}
            </p>

            <div>
                <iframe src="{{ embedMap }}"
                    width="100%"
                    height="400"
                    style="border:0;"
                    allowfullscreen=""
                    loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
                </iframe>
            </div>
        </address>
    </article>
</div>

