<div class="holder action-bar">
    <section class="wrap box-quad-static">
        <div class="to-contact">
            <i class="fa-solid fa-phone"></i>

            <a href="{{ pageContact.link }}">
                <b>Telefone</b>
                <p>{{ phone }}</p>
            </a>
        </div>

        <div class="to-contact">
            <i class="fa-solid fa-map-location-dot"></i>

            <a href="{{ pageContact.link }}">
                <b>Localização</b>
                <p>{{ city }}</p>
            </a>
        </div>

        <div class="to-contact">
            <i class="fa-solid fa-envelope-open-text"></i>

            <a href="{{ pageContact.link }}">
                <b>Fale Conosco</b>
                <p>Entre em contato</p>
            </a>
        </div>

        <div>
            <button type="button" data-link="{{ downloadEbook }}">
                Baixar e-book

                <i class="fa-solid fa-arrow-right fa-xl"></i>
            </button>
        </div>
    </section>
</div>